.formulario {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    background: #f1f1f1;
    height: calc(100% - 200px);
    border-radius: 8px;
    box-shadow: 5px 3px 6px 1px black;
    box-sizing: border-box;
    padding: 5px 20px;
}