.content-user-data{
    width: 340px;
    height: 800px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    
    margin-bottom: 50px;
}
.content-contractor-data .content-user-data{
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.title-label-form{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.text-data.absolute-center {
    transform: translate(10px,-50%);
    left: 0;
    top: 50%;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
}