
.container-home{
    width: 100%;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
}
.content-container-home{
    position: relative;
    width: 750px;
    height: 525px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
}
.home-title-color{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #00925B;
}
.home-description{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #212121;
    width: 450px;
    text-align: center;
}
.btn-label{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.btn-carta{
    
    position: relative;
    background: #0A9B91;
    border-radius: 25px;
    width: 300px;
    height:51px;
    cursor: pointer;
    
    transition: all 250ms ease-in-out;
}
.btn-carta:hover{
    background: #026D63;
}
.btn-login{
    position: relative;
    background: #00925B;
    border-radius: 25px;
    width: 200px;
    height:51px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
.btn-login:hover{
    background: #025F3C;
}