.form-content-container-main {
    position: relative;
    /* transform: translate(-50%,-50%); */
    text-align: center;
    /* top: 50%; */
    /* left: 50%; */
    box-sizing: border-box;
    width: 746px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 10%);
    border-radius: 20px;
    margin: 0 auto;
}
form.form-main {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 26px;
    box-sizing: border-box;
}
.form-group {
    width: 100%;
    height: 90px !important;
    position: relative;
    margin-bottom: 4px !important;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}
.form-group-radio {
    width: 100%;
    height: 144px !important;
    position: relative;
    margin-bottom: 4px !important;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}
.form-main .form-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 30px;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}
.form-label .text{
    transform: translate(0,-50%);
    left: 0px
}
.form-main  input.form-input {
    border-radius: 8px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 400px;
    padding-left: 10px;
    
    line-height:34px;
}
.text-area-input {
    height:170px;
    width:400px;
    background: #F1F1F1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
}
.form-main input[type="submit"] {
    height: 51px;
    width: 200px;
    background: #00925B;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    transition: all 250ms ease-in-out;
}
.form-main input[type="submit"]:hover {
    background: #025F3C;
}
.form-main input[type="file"] {
    max-width:200px;
    display: block;
    height: 40px;
    width: 100%;
    background: #F1F1F1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    left: 0;
    line-height:34px;
    overflow: unset;
    padding-left: 10px;
    
    position: relative;
}
.link{
    font-size: 12px;
}
.file-input {
    height:30px;
    width:150px;
    position:absolute;
    background: #0A9B91;
    border-radius: 25px;
    border: unset;
    color: white;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    right: 25px;
    z-index:4;
    top:35px;
}
.form-text-area{
    height:220px !important;
}
.form-main .form-input-file::file-selector-button{
    display:none;
}
.file-input:hover {
    background: #026D63;
}
 /* .form-input-file::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 8px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    height: 18px
  }
  .form-input-file:hover::before {
    border-color: black;
  }
  .form-input-file:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }*/
  input.form-input-check {
    width: 24px;
    height: 24px;
    float: left;
}
.select-type{
    max-width: 400px;
    margin: 0 auto !important;
}
.text-select{
    left: 50px;
    white-space: nowrap;
    font-weight: 400;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}
.form-label-radio{
    float: left;
    padding-left: 40px;
    padding-top: 3px;
}
.form-group-radio .form-label{
    height: 50px;
}
.radio-input{
    height: 24px;
    margin-bottom: 10px;
    padding-left:10px !important;
}
.text-radio-label{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: rgba(0, 0, 0, 0.6);
    transform: translate(0,-50%);
    left: 10px;

}
.from-input-check{
    cursor: pointer;
}
.container-radio {
    /* position: relative; */
    cursor: pointer;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    padding-left: 50px;
}
/* Hide the browser's default radio button */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
.checkmark {
    position: absolute;
    top: 0;
    left: 10px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container-radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-radio input:checked ~ .checkmark {
    background-color: #f1f1f1;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-radio .checkmark:after {
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0A9B91;
  }