form.form-search {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}
.form-search .form-input{
    width: 100%;
}

.list-container-search {
    padding: 0 5px;
    width: 100%;
}
.list-container-search .list{ 
    border: 1px solid gray;
    border-radius: 8px;
    height: calc( 100% - 24px);
    overflow-y: auto;
    position: relative;
}
.list-label {
    font-weight: 600;
    white-space: nowrap;
}
h2.absolute-center {
    white-space: nowrap;
}
.search-row .item-list {
    width: 100%;
    position: relative;
    height: 40px;
    transition: all 250ms ease-in-out;
    background: #F1F1F1;
    cursor: pointer;
}
.item-list-header {
    width: 100%;
    position: relative;
    height: 40px;
    transition: all 250ms ease-in-out;
    background: white;

}
.item-list-header .column-data{
    
    color: #909090;
}
.item-list:hover{
    background: #e8e8e8;
}
.item-list.active{
    background: rgb(61, 146, 139);
}
.number-container {
    width: 50%;
    float: left;
}
.contract-list-container {
    height: 460px;
    padding: 15px 0;
}
.rejected .contract-list-container {
    display: none;
}
.object-hover{
    display: block;
    position: absolute;
    width: 100px;
    height: auto;
    z-index:3;
    left:100%;
    top:0;
    background: red;
    border-radius: 8px;
}
.elipsis {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.column-container{
    height: 40px
}
.column-data {
    white-space: nowrap;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #000000;

}
.active .column-data{
    color: white;
}
.container-search-contract .btn-add-contract{
    height: 30px;
    width:150px;
    background: #0A9B91;
    border-radius: 25px;
}
.container-search-contract .btn-label{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}
.search-row{
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    padding:10px;
}
.search-row .list{
    background: #F1F1F1;
    border-radius: 5px;
    border: unset;
    overflow-y: scroll;
    height: 200px;
}
.btn-add-contract:hover{
    background:rgb(51, 121, 115);
}
.big-square{
    position: absolute;
    width: 230px;
    height: 23px;
    left: 0px;
    top: 20px;
    background: #CCE212;
}
.little-square{
    position: absolute;
    width: 230px;
    height: 9px;
    left: 25px;
    top: 50.75px;
    background: #276334;
}
.swal2-modal{
    position: relative;
    width: 500px;
    height: 350px; 
    background: #FFFFFF;
    border-radius: 20px;
}
.swal2-close {
    position: absolute;
}
.bg-title-pop{
    position: absolute;
    width: 500px;
    height: 73.27px;
    left: 0px;
    top: 110px;

    background: rgba(196, 196, 196, 0.2);
}
.bg-title-lit{
    position: absolute;
    width: 500px;
    height: 73.27px;
    left: 0px;
    top: 38px;
}

.list-label{
    font-weight: bold
}
.list-label.pop{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: #000000;
    width: 100%;
    padding: 20px;
    height: auto;
    display: block;
    white-space: break-spaces;
}
.swal2-confirm{
    width:200px;
    height: 50px;
    background: #00925B !important;
    border-radius: 25px !important;
    transition: all 250ms ease-in-out;
}
.swal2-confirm:hover{
    background: #025F3C !important;
}
.swal2-cancel{
    width:200px;
    height: 50px;
    background: #FF3636 !important;
    border-radius: 25px !important;
    transition: all 250ms ease-in-out;
}
.swal2-cancel:hover{
    background: #B72222 !important;
}
.swal2-deny{
    width:200px;
    height: 50px;
    border-radius: 25px !important;
    transition: all 250ms ease-in-out;
}
.swal2-deny:hover{
    background: #026D63 !important;
}
.swal2-styled.swal2-default-outline:focus,
.swal2-confirm.swal2-styled.swal2-confirm:focus,
.swal2-cancel.swal2-styled.swal2-cancel:focus  {
    box-shadow:unset
}
#button-tooltip .arrow:before {
    border-bottom-color: rgba(0, 0, 0, 0.2) !important;
}
#button-tooltip .tooltip-inner {
    max-width: 200px;
    padding: .25rem .5rem;
    color: #000000;
    text-align: center;
    background-color: #F1F1F1 !important;
    border-radius: 25px !important;
    border: 0.5px solid rgba(0, 0, 0, 0.2) !important;
}
.inactive{
    cursor: not-allowed !important;
}